@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{padding:0px; margin:0px; box-sizing:border-box;}
h1{
  font-family: 'Inconsolata', monospace;
}
p{
  font-family:font-family: 'Montserrat', sans-serif;
}
.header-container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
  margin:10px;
}
.header-left{
  flex-basis:50%;
}
.header-right{
  flex-basis:50%;
}
.header-right img{
  max-width:350px;
  margin:auto;
}
